html {
}

body {
    min-width: 200px;
    overflow-x: hidden;
    position: relative;
}

label {
    display: block;
    box-sizing: border-box;
}

input {
    box-sizing: border-box;
}

a:link, a:visited {
    color: #b19b57;
}
a:hover {
    color: #c3b17a;
}

.cf {
    *zoom: 1;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.container {
    padding-bottom: 10px;
    position: relative;
}

.tab-toggle {
    border-bottom: 1px solid #aaa;
}

.tab-toggle-list {
}

.tab-toggle-list-item {
    border-bottom: 1px solid #aaa;
    float: left;
    margin-bottom: -1px;
}

.tab-toggle-list-item.is-current {
    border-color: white;
}

.tab-toggle-list-link {
    background-color: #ccc;
    display: block;
    padding: 10px;
    opacity: 0.5;
}

.tab-toggle-list-link:hover {
    opacity: 1;
}

.tab-toggle-list-link.is-current {
    background-color: white;
    opacity: 1;
    border: 1px solid #aaa;
    border-top: 0;
    border-bottom: 0;
}

.tab {
    display: none;
    margin-top: 10px;
    position: absolute;
    width: 100%;
}

.tab.is-current {
    display: block;
}

.err {
    color: red;
}

.form-group {
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 0 10px;
}

.form-group:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.form-button {
    background-color: #eee;
    border: 0;
    margin: 10px;
    padding: 10px;
}

.input-wrap {
    padding: 10px;
}

.form-group > .input-wrap:nth-child(even) {
}

.form-group > .input-wrap:nth-child(odd) {
    background-color: #eee;
}

.form-input {
    width: 100%;
}

.input-label {
    padding-bottom: 10px;
}

.input-text-wrap {

}

.input-radio-wrap {

}

.input-radio-wrap > input[type=radio] {
    margin-right: 10px;
}

.settings-wrap {
    float: right;
}
.settings-list-link {
    background-color: white;
}