body {
    min-width: 200px;
    overflow-x: hidden;
}

label {
    display: block;
}

.err {
    color: red;
}

.form-group {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 0 10px;
}

.form-group:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.form-button {
    background-color: #eee;
    border: 0;
    margin: 10px;
    padding: 10px;
}

.input-wrap {
    padding: 10px;
}

.form-group > .input-wrap:nth-child(even) {
}

.form-group > .input-wrap:nth-child(odd) {
    background-color: #eee;
}

.input-label {
    padding-bottom: 10px;
}

.input-text-wrap {

}

.input-radio-wrap {

}

.input-radio-wrap > input[type=radio] {
    margin-right: 10px;
}